.portlet-problem {
    padding-top: 3px;
    padding-bottom: 3px;
}

.m-problems-icon {
    float: left;
    width: 16px;
    height: 16px;
}

.m-problems-severity {
    float: right;
    width: 16px;
    height: 16px;
}

.m-problems-text {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.m-problems-message {
    font-weight: bold;
}

.m-problems-solve {
}

.m-problems-repair-icon {
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
    float: right;
}
