<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         syntaxCheck="true">
    <testsuite name="phlexible">
        <directory>src/Phlexible/</directory>
    </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">src/Phlexible/</directory>
        </whitelist>
    </filter>
</phpunit>
