<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         syntaxCheck="true"
         verbose="true">
    <testsuites>
        <testsuite name="phlexible">
            <directory>src/Phlexible/</directory>
        </testsuite>
        <testsuite name="phlexible-bundles">
            <directory>src/Phlexible/Bundle/</directory>
        </testsuite>
        <testsuite name="phlexible-components">
            <directory>src/Phlexible/Component/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <!-- log type="coverage-html" target="build/coverage" title="phpDox"
             charset="UTF-8" yui="true" highlight="true"
             lowUpperBound="35" highLowerBound="70"/ -->
        <!-- log type="coverage-clover" target="build/logs/clover.xml"/ -->
        <!-- log type="coverage-xml" target="build/logs/coverage"/ -->
        <!-- log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/ -->
    </logging>

    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory suffix=".php">src/Phlexible/Bundle/ElementBundle/Tests/Util/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
