.m-cache-portlet .m-cache-status-low .x-progress-bar {
    background-image: url(/COMPONENTSPATH/cache/images/progress-bg-green.gif);
}
.m-cache-portlet .m-cache-status-normal .x-progress-bar {
}
.m-cache-portlet .m-cache-status-high .x-progress-bar {
    background-image: url(/COMPONENTSPATH/cache/images/progress-bg-red.gif);
}
.m-cache-portlet .m-cache-spacer {
    margin-bottom: 5px;
}
