.locks-portlet .x-panel-body{
    font: 11px Arial, Helvetica, sans-serif;
}
.locks-portlet table, 
.locks-portlet tbody, 
.locks-portlet tr, 
.locks-portlet td, 
.locks-portlet th {
    padding: 0;
    margin: 0;
}
.locks-portlet th {
    font-weight: bold;
}
.locks-portlet .locks-wrap-over {
    background-color: #BBBBBB;
}
.locks-portlet .locks-title {
}
.locks-portlet .locks-title img{
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
.locks-portlet .locks-type {
}
.locks-portlet .locks-id {
}
.locks-portlet .elements-time {
    color: #8B8B8B;
}
