.p-messages-filter-panel .x-panel {
    padding-bottom: 8px;
}

.p-messages-main-panel .x-layout-collapsed-west {
    background-image: url(/COMPONENTSPATH/phlexiblemessage/images/panel_filter.png);
    background-repeat: no-repeat;
    background-position: center;
}