.p-messages-filter-panel .x-panel {
    padding-bottom: 8px;
}

.p-messages-main-panel .x-layout-collapsed-west {
    background-image: url(/BASEURL/admin/gui/asset/textimage?key=messages.filter&icon=filter);
    background-repeat: no-repeat;
    background-position: center;
}