.p-templates-view-panel .hl-main {color: black;}
.p-templates-view-panel .hl-table {color: green;}
.p-templates-view-panel .hl-gutter {color: red;}
.p-templates-view-panel .hl-brackets {color: blue;}
.p-templates-view-panel .hl-builtin {color: gray;}
.p-templates-view-panel .hl-code {color: gray;}
.p-templates-view-panel .hl-comment {color: orange;}
.p-templates-view-panel .hl-default {color: yellow;}
.p-templates-view-panel .hl-identifier {color: brown;}
.p-templates-view-panel .hl-inlinedoc {color: brown;}
.p-templates-view-panel .hl-inlinetags {color: brown;}
.p-templates-view-panel .hl-mlcomment {color: brown;}
.p-templates-view-panel .hl-number {color: blue;}
.p-templates-view-panel .hl-quotes {color: red;}
.p-templates-view-panel .hl-reserved {color: blue;}
.p-templates-view-panel .hl-special {color: brown;}
.p-templates-view-panel .hl-string {color: red;}
.p-templates-view-panel .hl-url {color: green;}
.p-templates-view-panel .hl-var {color: green;}
