html, body {
    font: normal 9pt tahoma;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

img.m-inline-icon {
    vertical-align: middle;
}

img.p-inline-icon {
    vertical-align: middle;
}

.p-tab-dirty .x-tab-strip-text {
    color: red !important;
}

