.p-gui-ad-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ad.png) !important;}
.p-gui-ae-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ae.png) !important;}
.p-gui-af-icon {background-image: url(/bundles/phlexiblegui/icons/flags/af.png) !important;}
.p-gui-ag-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ag.png) !important;}
.p-gui-ai-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ai.png) !important;}
.p-gui-al-icon {background-image: url(/bundles/phlexiblegui/icons/flags/al.png) !important;}
.p-gui-am-icon {background-image: url(/bundles/phlexiblegui/icons/flags/am.png) !important;}
.p-gui-an-icon {background-image: url(/bundles/phlexiblegui/icons/flags/an.png) !important;}
.p-gui-ao-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ao.png) !important;}
.p-gui-ar-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ar.png) !important;}
.p-gui-as-icon {background-image: url(/bundles/phlexiblegui/icons/flags/as.png) !important;}
.p-gui-at-icon {background-image: url(/bundles/phlexiblegui/icons/flags/at.png) !important;}
.p-gui-au-icon {background-image: url(/bundles/phlexiblegui/icons/flags/au.png) !important;}
.p-gui-aw-icon {background-image: url(/bundles/phlexiblegui/icons/flags/aw.png) !important;}
.p-gui-ax-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ax.png) !important;}
.p-gui-az-icon {background-image: url(/bundles/phlexiblegui/icons/flags/az.png) !important;}
.p-gui-ba-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ba.png) !important;}
.p-gui-bb-icon {background-image: url(/bundles/phlexiblegui/icons/flags/bb.png) !important;}
.p-gui-bd-icon {background-image: url(/bundles/phlexiblegui/icons/flags/bd.png) !important;}
.p-gui-be-icon {background-image: url(/bundles/phlexiblegui/icons/flags/be.png) !important;}
.p-gui-bf-icon {background-image: url(/bundles/phlexiblegui/icons/flags/bf.png) !important;}
.p-gui-bg-icon {background-image: url(/bundles/phlexiblegui/icons/flags/bg.png) !important;}
.p-gui-bh-icon {background-image: url(/bundles/phlexiblegui/icons/flags/bh.png) !important;}
.p-gui-bi-icon {background-image: url(/bundles/phlexiblegui/icons/flags/bi.png) !important;}
.p-gui-bj-icon {background-image: url(/bundles/phlexiblegui/icons/flags/bj.png) !important;}
.p-gui-bm-icon {background-image: url(/bundles/phlexiblegui/icons/flags/bm.png) !important;}
.p-gui-bn-icon {background-image: url(/bundles/phlexiblegui/icons/flags/bn.png) !important;}
.p-gui-bo-icon {background-image: url(/bundles/phlexiblegui/icons/flags/bo.png) !important;}
.p-gui-br-icon {background-image: url(/bundles/phlexiblegui/icons/flags/br.png) !important;}
.p-gui-bs-icon {background-image: url(/bundles/phlexiblegui/icons/flags/bs.png) !important;}
.p-gui-bt-icon {background-image: url(/bundles/phlexiblegui/icons/flags/bt.png) !important;}
.p-gui-bv-icon {background-image: url(/bundles/phlexiblegui/icons/flags/bv.png) !important;}
.p-gui-bw-icon {background-image: url(/bundles/phlexiblegui/icons/flags/bw.png) !important;}
.p-gui-by-icon {background-image: url(/bundles/phlexiblegui/icons/flags/by.png) !important;}
.p-gui-bz-icon {background-image: url(/bundles/phlexiblegui/icons/flags/bz.png) !important;}
.p-gui-ca-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ca.png) !important;}
.p-gui-catalonia-icon {background-image: url(/bundles/phlexiblegui/icons/flags/catalonia.png) !important;}
.p-gui-cc-icon {background-image: url(/bundles/phlexiblegui/icons/flags/cc.png) !important;}
.p-gui-cd-icon {background-image: url(/bundles/phlexiblegui/icons/flags/cd.png) !important;}
.p-gui-cf-icon {background-image: url(/bundles/phlexiblegui/icons/flags/cf.png) !important;}
.p-gui-cg-icon {background-image: url(/bundles/phlexiblegui/icons/flags/cg.png) !important;}
.p-gui-ch-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ch.png) !important;}
.p-gui-ci-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ci.png) !important;}
.p-gui-ck-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ck.png) !important;}
.p-gui-cl-icon {background-image: url(/bundles/phlexiblegui/icons/flags/cl.png) !important;}
.p-gui-cm-icon {background-image: url(/bundles/phlexiblegui/icons/flags/cm.png) !important;}
.p-gui-cn-icon {background-image: url(/bundles/phlexiblegui/icons/flags/cn.png) !important;}
.p-gui-co-icon {background-image: url(/bundles/phlexiblegui/icons/flags/co.png) !important;}
.p-gui-cr-icon {background-image: url(/bundles/phlexiblegui/icons/flags/cr.png) !important;}
.p-gui-cs-icon {background-image: url(/bundles/phlexiblegui/icons/flags/cs.png) !important;}
.p-gui-cu-icon {background-image: url(/bundles/phlexiblegui/icons/flags/cu.png) !important;}
.p-gui-cv-icon {background-image: url(/bundles/phlexiblegui/icons/flags/cv.png) !important;}
.p-gui-cx-icon {background-image: url(/bundles/phlexiblegui/icons/flags/cx.png) !important;}
.p-gui-cy-icon {background-image: url(/bundles/phlexiblegui/icons/flags/cy.png) !important;}
.p-gui-cz-icon {background-image: url(/bundles/phlexiblegui/icons/flags/cz.png) !important;}
.p-gui-de-icon {background-image: url(/bundles/phlexiblegui/icons/flags/de.png) !important;}
.p-gui-dj-icon {background-image: url(/bundles/phlexiblegui/icons/flags/dj.png) !important;}
.p-gui-dk-icon {background-image: url(/bundles/phlexiblegui/icons/flags/dk.png) !important;}
.p-gui-dm-icon {background-image: url(/bundles/phlexiblegui/icons/flags/dm.png) !important;}
.p-gui-do-icon {background-image: url(/bundles/phlexiblegui/icons/flags/do.png) !important;}
.p-gui-dz-icon {background-image: url(/bundles/phlexiblegui/icons/flags/dz.png) !important;}
.p-gui-ec-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ec.png) !important;}
.p-gui-ee-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ee.png) !important;}
.p-gui-eg-icon {background-image: url(/bundles/phlexiblegui/icons/flags/eg.png) !important;}
.p-gui-eh-icon {background-image: url(/bundles/phlexiblegui/icons/flags/eh.png) !important;}
.p-gui-en-icon {background-image: url(/bundles/phlexiblegui/icons/flags/en.png) !important;}
.p-gui-england-icon {background-image: url(/bundles/phlexiblegui/icons/flags/england.png) !important;}
.p-gui-er-icon {background-image: url(/bundles/phlexiblegui/icons/flags/er.png) !important;}
.p-gui-es-icon {background-image: url(/bundles/phlexiblegui/icons/flags/es.png) !important;}
.p-gui-et-icon {background-image: url(/bundles/phlexiblegui/icons/flags/et.png) !important;}
.p-gui-europe-icon {background-image: url(/bundles/phlexiblegui/icons/flags/europe.png) !important;}
.p-gui-fam-icon {background-image: url(/bundles/phlexiblegui/icons/flags/fam.png) !important;}
.p-gui-fi-icon {background-image: url(/bundles/phlexiblegui/icons/flags/fi.png) !important;}
.p-gui-fj-icon {background-image: url(/bundles/phlexiblegui/icons/flags/fj.png) !important;}
.p-gui-fk-icon {background-image: url(/bundles/phlexiblegui/icons/flags/fk.png) !important;}
.p-gui-fm-icon {background-image: url(/bundles/phlexiblegui/icons/flags/fm.png) !important;}
.p-gui-fo-icon {background-image: url(/bundles/phlexiblegui/icons/flags/fo.png) !important;}
.p-gui-fr-icon {background-image: url(/bundles/phlexiblegui/icons/flags/fr.png) !important;}
.p-gui-ga-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ga.png) !important;}
.p-gui-gb-icon {background-image: url(/bundles/phlexiblegui/icons/flags/gb.png) !important;}
.p-gui-gd-icon {background-image: url(/bundles/phlexiblegui/icons/flags/gd.png) !important;}
.p-gui-ge-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ge.png) !important;}
.p-gui-gf-icon {background-image: url(/bundles/phlexiblegui/icons/flags/gf.png) !important;}
.p-gui-gh-icon {background-image: url(/bundles/phlexiblegui/icons/flags/gh.png) !important;}
.p-gui-gi-icon {background-image: url(/bundles/phlexiblegui/icons/flags/gi.png) !important;}
.p-gui-gl-icon {background-image: url(/bundles/phlexiblegui/icons/flags/gl.png) !important;}
.p-gui-gm-icon {background-image: url(/bundles/phlexiblegui/icons/flags/gm.png) !important;}
.p-gui-gn-icon {background-image: url(/bundles/phlexiblegui/icons/flags/gn.png) !important;}
.p-gui-gp-icon {background-image: url(/bundles/phlexiblegui/icons/flags/gp.png) !important;}
.p-gui-gq-icon {background-image: url(/bundles/phlexiblegui/icons/flags/gq.png) !important;}
.p-gui-gr-icon {background-image: url(/bundles/phlexiblegui/icons/flags/gr.png) !important;}
.p-gui-gs-icon {background-image: url(/bundles/phlexiblegui/icons/flags/gs.png) !important;}
.p-gui-gt-icon {background-image: url(/bundles/phlexiblegui/icons/flags/gt.png) !important;}
.p-gui-gu-icon {background-image: url(/bundles/phlexiblegui/icons/flags/gu.png) !important;}
.p-gui-gw-icon {background-image: url(/bundles/phlexiblegui/icons/flags/gw.png) !important;}
.p-gui-gy-icon {background-image: url(/bundles/phlexiblegui/icons/flags/gy.png) !important;}
.p-gui-hk-icon {background-image: url(/bundles/phlexiblegui/icons/flags/hk.png) !important;}
.p-gui-hm-icon {background-image: url(/bundles/phlexiblegui/icons/flags/hm.png) !important;}
.p-gui-hn-icon {background-image: url(/bundles/phlexiblegui/icons/flags/hn.png) !important;}
.p-gui-hr-icon {background-image: url(/bundles/phlexiblegui/icons/flags/hr.png) !important;}
.p-gui-ht-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ht.png) !important;}
.p-gui-hu-icon {background-image: url(/bundles/phlexiblegui/icons/flags/hu.png) !important;}
.p-gui-id-icon {background-image: url(/bundles/phlexiblegui/icons/flags/id.png) !important;}
.p-gui-ie-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ie.png) !important;}
.p-gui-il-icon {background-image: url(/bundles/phlexiblegui/icons/flags/il.png) !important;}
.p-gui-in-icon {background-image: url(/bundles/phlexiblegui/icons/flags/in.png) !important;}
.p-gui-io-icon {background-image: url(/bundles/phlexiblegui/icons/flags/io.png) !important;}
.p-gui-iq-icon {background-image: url(/bundles/phlexiblegui/icons/flags/iq.png) !important;}
.p-gui-ir-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ir.png) !important;}
.p-gui-is-icon {background-image: url(/bundles/phlexiblegui/icons/flags/is.png) !important;}
.p-gui-it-icon {background-image: url(/bundles/phlexiblegui/icons/flags/it.png) !important;}
.p-gui-jm-icon {background-image: url(/bundles/phlexiblegui/icons/flags/jm.png) !important;}
.p-gui-jo-icon {background-image: url(/bundles/phlexiblegui/icons/flags/jo.png) !important;}
.p-gui-jp-icon {background-image: url(/bundles/phlexiblegui/icons/flags/jp.png) !important;}
.p-gui-ke-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ke.png) !important;}
.p-gui-kg-icon {background-image: url(/bundles/phlexiblegui/icons/flags/kg.png) !important;}
.p-gui-kh-icon {background-image: url(/bundles/phlexiblegui/icons/flags/kh.png) !important;}
.p-gui-ki-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ki.png) !important;}
.p-gui-km-icon {background-image: url(/bundles/phlexiblegui/icons/flags/km.png) !important;}
.p-gui-kn-icon {background-image: url(/bundles/phlexiblegui/icons/flags/kn.png) !important;}
.p-gui-kp-icon {background-image: url(/bundles/phlexiblegui/icons/flags/kp.png) !important;}
.p-gui-kr-icon {background-image: url(/bundles/phlexiblegui/icons/flags/kr.png) !important;}
.p-gui-kw-icon {background-image: url(/bundles/phlexiblegui/icons/flags/kw.png) !important;}
.p-gui-ky-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ky.png) !important;}
.p-gui-kz-icon {background-image: url(/bundles/phlexiblegui/icons/flags/kz.png) !important;}
.p-gui-la-icon {background-image: url(/bundles/phlexiblegui/icons/flags/la.png) !important;}
.p-gui-lb-icon {background-image: url(/bundles/phlexiblegui/icons/flags/lb.png) !important;}
.p-gui-lc-icon {background-image: url(/bundles/phlexiblegui/icons/flags/lc.png) !important;}
.p-gui-li-icon {background-image: url(/bundles/phlexiblegui/icons/flags/li.png) !important;}
.p-gui-lk-icon {background-image: url(/bundles/phlexiblegui/icons/flags/lk.png) !important;}
.p-gui-lr-icon {background-image: url(/bundles/phlexiblegui/icons/flags/lr.png) !important;}
.p-gui-ls-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ls.png) !important;}
.p-gui-lt-icon {background-image: url(/bundles/phlexiblegui/icons/flags/lt.png) !important;}
.p-gui-lu-icon {background-image: url(/bundles/phlexiblegui/icons/flags/lu.png) !important;}
.p-gui-lv-icon {background-image: url(/bundles/phlexiblegui/icons/flags/lv.png) !important;}
.p-gui-ly-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ly.png) !important;}
.p-gui-ma-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ma.png) !important;}
.p-gui-mc-icon {background-image: url(/bundles/phlexiblegui/icons/flags/mc.png) !important;}
.p-gui-md-icon {background-image: url(/bundles/phlexiblegui/icons/flags/md.png) !important;}
.p-gui-me-icon {background-image: url(/bundles/phlexiblegui/icons/flags/me.png) !important;}
.p-gui-mg-icon {background-image: url(/bundles/phlexiblegui/icons/flags/mg.png) !important;}
.p-gui-mh-icon {background-image: url(/bundles/phlexiblegui/icons/flags/mh.png) !important;}
.p-gui-mk-icon {background-image: url(/bundles/phlexiblegui/icons/flags/mk.png) !important;}
.p-gui-ml-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ml.png) !important;}
.p-gui-mm-icon {background-image: url(/bundles/phlexiblegui/icons/flags/mm.png) !important;}
.p-gui-mn-icon {background-image: url(/bundles/phlexiblegui/icons/flags/mn.png) !important;}
.p-gui-mo-icon {background-image: url(/bundles/phlexiblegui/icons/flags/mo.png) !important;}
.p-gui-mp-icon {background-image: url(/bundles/phlexiblegui/icons/flags/mp.png) !important;}
.p-gui-mq-icon {background-image: url(/bundles/phlexiblegui/icons/flags/mq.png) !important;}
.p-gui-mr-icon {background-image: url(/bundles/phlexiblegui/icons/flags/mr.png) !important;}
.p-gui-ms-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ms.png) !important;}
.p-gui-mt-icon {background-image: url(/bundles/phlexiblegui/icons/flags/mt.png) !important;}
.p-gui-mu-icon {background-image: url(/bundles/phlexiblegui/icons/flags/mu.png) !important;}
.p-gui-mv-icon {background-image: url(/bundles/phlexiblegui/icons/flags/mv.png) !important;}
.p-gui-mw-icon {background-image: url(/bundles/phlexiblegui/icons/flags/mw.png) !important;}
.p-gui-mx-icon {background-image: url(/bundles/phlexiblegui/icons/flags/mx.png) !important;}
.p-gui-my-icon {background-image: url(/bundles/phlexiblegui/icons/flags/my.png) !important;}
.p-gui-mz-icon {background-image: url(/bundles/phlexiblegui/icons/flags/mz.png) !important;}
.p-gui-na-icon {background-image: url(/bundles/phlexiblegui/icons/flags/na.png) !important;}
.p-gui-nc-icon {background-image: url(/bundles/phlexiblegui/icons/flags/nc.png) !important;}
.p-gui-ne-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ne.png) !important;}
.p-gui-nf-icon {background-image: url(/bundles/phlexiblegui/icons/flags/nf.png) !important;}
.p-gui-ng-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ng.png) !important;}
.p-gui-ni-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ni.png) !important;}
.p-gui-nl-icon {background-image: url(/bundles/phlexiblegui/icons/flags/nl.png) !important;}
.p-gui-no-icon {background-image: url(/bundles/phlexiblegui/icons/flags/no.png) !important;}
.p-gui-np-icon {background-image: url(/bundles/phlexiblegui/icons/flags/np.png) !important;}
.p-gui-nr-icon {background-image: url(/bundles/phlexiblegui/icons/flags/nr.png) !important;}
.p-gui-nu-icon {background-image: url(/bundles/phlexiblegui/icons/flags/nu.png) !important;}
.p-gui-nz-icon {background-image: url(/bundles/phlexiblegui/icons/flags/nz.png) !important;}
.p-gui-om-icon {background-image: url(/bundles/phlexiblegui/icons/flags/om.png) !important;}
.p-gui-pa-icon {background-image: url(/bundles/phlexiblegui/icons/flags/pa.png) !important;}
.p-gui-pe-icon {background-image: url(/bundles/phlexiblegui/icons/flags/pe.png) !important;}
.p-gui-pf-icon {background-image: url(/bundles/phlexiblegui/icons/flags/pf.png) !important;}
.p-gui-pg-icon {background-image: url(/bundles/phlexiblegui/icons/flags/pg.png) !important;}
.p-gui-ph-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ph.png) !important;}
.p-gui-pk-icon {background-image: url(/bundles/phlexiblegui/icons/flags/pk.png) !important;}
.p-gui-pl-icon {background-image: url(/bundles/phlexiblegui/icons/flags/pl.png) !important;}
.p-gui-pm-icon {background-image: url(/bundles/phlexiblegui/icons/flags/pm.png) !important;}
.p-gui-pn-icon {background-image: url(/bundles/phlexiblegui/icons/flags/pn.png) !important;}
.p-gui-pr-icon {background-image: url(/bundles/phlexiblegui/icons/flags/pr.png) !important;}
.p-gui-ps-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ps.png) !important;}
.p-gui-pt-icon {background-image: url(/bundles/phlexiblegui/icons/flags/pt.png) !important;}
.p-gui-pw-icon {background-image: url(/bundles/phlexiblegui/icons/flags/pw.png) !important;}
.p-gui-py-icon {background-image: url(/bundles/phlexiblegui/icons/flags/py.png) !important;}
.p-gui-qa-icon {background-image: url(/bundles/phlexiblegui/icons/flags/qa.png) !important;}
.p-gui-re-icon {background-image: url(/bundles/phlexiblegui/icons/flags/re.png) !important;}
.p-gui-ro-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ro.png) !important;}
.p-gui-rs-icon {background-image: url(/bundles/phlexiblegui/icons/flags/rs.png) !important;}
.p-gui-ru-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ru.png) !important;}
.p-gui-rw-icon {background-image: url(/bundles/phlexiblegui/icons/flags/rw.png) !important;}
.p-gui-sa-icon {background-image: url(/bundles/phlexiblegui/icons/flags/sa.png) !important;}
.p-gui-sb-icon {background-image: url(/bundles/phlexiblegui/icons/flags/sb.png) !important;}
.p-gui-sc-icon {background-image: url(/bundles/phlexiblegui/icons/flags/sc.png) !important;}
.p-gui-scotland-icon {background-image: url(/bundles/phlexiblegui/icons/flags/scotland.png) !important;}
.p-gui-sd-icon {background-image: url(/bundles/phlexiblegui/icons/flags/sd.png) !important;}
.p-gui-se-icon {background-image: url(/bundles/phlexiblegui/icons/flags/se.png) !important;}
.p-gui-sg-icon {background-image: url(/bundles/phlexiblegui/icons/flags/sg.png) !important;}
.p-gui-sh-icon {background-image: url(/bundles/phlexiblegui/icons/flags/sh.png) !important;}
.p-gui-si-icon {background-image: url(/bundles/phlexiblegui/icons/flags/si.png) !important;}
.p-gui-sj-icon {background-image: url(/bundles/phlexiblegui/icons/flags/sj.png) !important;}
.p-gui-sk-icon {background-image: url(/bundles/phlexiblegui/icons/flags/sk.png) !important;}
.p-gui-sl-icon {background-image: url(/bundles/phlexiblegui/icons/flags/sl.png) !important;}
.p-gui-sm-icon {background-image: url(/bundles/phlexiblegui/icons/flags/sm.png) !important;}
.p-gui-sn-icon {background-image: url(/bundles/phlexiblegui/icons/flags/sn.png) !important;}
.p-gui-so-icon {background-image: url(/bundles/phlexiblegui/icons/flags/so.png) !important;}
.p-gui-sr-icon {background-image: url(/bundles/phlexiblegui/icons/flags/sr.png) !important;}
.p-gui-st-icon {background-image: url(/bundles/phlexiblegui/icons/flags/st.png) !important;}
.p-gui-sv-icon {background-image: url(/bundles/phlexiblegui/icons/flags/sv.png) !important;}
.p-gui-sy-icon {background-image: url(/bundles/phlexiblegui/icons/flags/sy.png) !important;}
.p-gui-sz-icon {background-image: url(/bundles/phlexiblegui/icons/flags/sz.png) !important;}
.p-gui-tc-icon {background-image: url(/bundles/phlexiblegui/icons/flags/tc.png) !important;}
.p-gui-td-icon {background-image: url(/bundles/phlexiblegui/icons/flags/td.png) !important;}
.p-gui-tf-icon {background-image: url(/bundles/phlexiblegui/icons/flags/tf.png) !important;}
.p-gui-tg-icon {background-image: url(/bundles/phlexiblegui/icons/flags/tg.png) !important;}
.p-gui-th-icon {background-image: url(/bundles/phlexiblegui/icons/flags/th.png) !important;}
.p-gui-tj-icon {background-image: url(/bundles/phlexiblegui/icons/flags/tj.png) !important;}
.p-gui-tk-icon {background-image: url(/bundles/phlexiblegui/icons/flags/tk.png) !important;}
.p-gui-tl-icon {background-image: url(/bundles/phlexiblegui/icons/flags/tl.png) !important;}
.p-gui-tm-icon {background-image: url(/bundles/phlexiblegui/icons/flags/tm.png) !important;}
.p-gui-tn-icon {background-image: url(/bundles/phlexiblegui/icons/flags/tn.png) !important;}
.p-gui-to-icon {background-image: url(/bundles/phlexiblegui/icons/flags/to.png) !important;}
.p-gui-tr-icon {background-image: url(/bundles/phlexiblegui/icons/flags/tr.png) !important;}
.p-gui-tt-icon {background-image: url(/bundles/phlexiblegui/icons/flags/tt.png) !important;}
.p-gui-tv-icon {background-image: url(/bundles/phlexiblegui/icons/flags/tv.png) !important;}
.p-gui-tw-icon {background-image: url(/bundles/phlexiblegui/icons/flags/tw.png) !important;}
.p-gui-tz-icon {background-image: url(/bundles/phlexiblegui/icons/flags/tz.png) !important;}
.p-gui-ua-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ua.png) !important;}
.p-gui-ug-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ug.png) !important;}
.p-gui-um-icon {background-image: url(/bundles/phlexiblegui/icons/flags/um.png) !important;}
.p-gui-us-icon {background-image: url(/bundles/phlexiblegui/icons/flags/us.png) !important;}
.p-gui-uy-icon {background-image: url(/bundles/phlexiblegui/icons/flags/uy.png) !important;}
.p-gui-uz-icon {background-image: url(/bundles/phlexiblegui/icons/flags/uz.png) !important;}
.p-gui-va-icon {background-image: url(/bundles/phlexiblegui/icons/flags/va.png) !important;}
.p-gui-vc-icon {background-image: url(/bundles/phlexiblegui/icons/flags/vc.png) !important;}
.p-gui-ve-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ve.png) !important;}
.p-gui-vg-icon {background-image: url(/bundles/phlexiblegui/icons/flags/vg.png) !important;}
.p-gui-vi-icon {background-image: url(/bundles/phlexiblegui/icons/flags/vi.png) !important;}
.p-gui-vn-icon {background-image: url(/bundles/phlexiblegui/icons/flags/vn.png) !important;}
.p-gui-vu-icon {background-image: url(/bundles/phlexiblegui/icons/flags/vu.png) !important;}
.p-gui-wales-icon {background-image: url(/bundles/phlexiblegui/icons/flags/wales.png) !important;}
.p-gui-wf-icon {background-image: url(/bundles/phlexiblegui/icons/flags/wf.png) !important;}
.p-gui-ws-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ws.png) !important;}
.p-gui-ye-icon {background-image: url(/bundles/phlexiblegui/icons/flags/ye.png) !important;}
.p-gui-yt-icon {background-image: url(/bundles/phlexiblegui/icons/flags/yt.png) !important;}
.p-gui-za-icon {background-image: url(/bundles/phlexiblegui/icons/flags/za.png) !important;}
.p-gui-zm-icon {background-image: url(/bundles/phlexiblegui/icons/flags/zm.png) !important;}
.p-gui-zw-icon {background-image: url(/bundles/phlexiblegui/icons/flags/zw.png) !important;}
