services:
    phlexible_media_extractor.extractor.content.pdftotext:
        class: Phlexible\Component\MediaExtractor\ContentExtractor\PdfToTextExtractor
        public: false
        arguments:
            - "@phlexible_media_tool.poppler.pdf_file"

    phlexible_media_extractor.extractor.content.rawtext:
        class: Phlexible\Component\MediaExtractor\ContentExtractor\RawTextExtractor
        public: false

    phlexible_media_extractor.extractor.content.zendlucenedocx:
        class: Phlexible\Component\MediaExtractor\ContentExtractor\ZendLuceneDocxExtractor
        public: false

    phlexible_media_extractor.extractor.content.zendlucenepptx:
        class: Phlexible\Component\MediaExtractor\ContentExtractor\ZendLucenePptxExtractor
        public: false

    phlexible_media_extractor.extractor.content.zendlucenexlsx:
        class: Phlexible\Component\MediaExtractor\ContentExtractor\ZendLuceneXlsxExtractor
        public: false

    phlexible_media_extractor.extractor.content.resolver:
        class: Phlexible\Component\MediaExtractor\Extractor\ExtractorResolver
        public: false
        arguments:
            -
                - "@phlexible_media_extractor.extractor.content.pdftotext"
                - "@phlexible_media_extractor.extractor.content.rawtext"
                - "@phlexible_media_extractor.extractor.content.zendlucenedocx"
                - "@phlexible_media_extractor.extractor.content.zendlucenepptx"
                - "@phlexible_media_extractor.extractor.content.zendlucenexlsx"

    phlexible_media_extractor.extractor.content:
        class: Phlexible\Component\MediaExtractor\Extractor\DelegatingExtractor
        arguments:
            - "@phlexible_media_extractor.extractor.content.resolver"
        tags:
            - {name: phlexible_media_extractor.extractor}
