.SwfUploadPanel_iconAdd {
    background-image: url(/COMPONENTSPATH/mediamanager/icons/upload_add.png) !important;
}

.SwfUploadPanel_iconUpload {
    background-image: url(/COMPONENTSPATH/mediamanager/icons/upload_upload.png) !important;
}

.SwfUploadPanel_iconCancel {
    background-image: url(/COMPONENTSPATH/mediamanager/icons/upload_cancel.png) !important;
}

.SwfUploadPanel_iconClear {
    background-image: url(/COMPONENTSPATH/mediamanager/icons/upload_clear.png) !important;
}