.p-dashboard-main-panel .x-layout-collapsed-west{
    background-image:url(/BASEURL/admin/gui/asset/textimage?key=dashboard.available_portlets);
    background-repeat:no-repeat;
    background-position:center;
}

.p-dashboard-watermark {
    position: absolute;
    right: 30px;
    bottom: 20px;
    filter:alpha(opacity=25);
    -moz-opacity:.25;
    opacity:.25;
}

.p-dashboard-info {
    position: absolute;
    left: 20px;
    bottom: 20px;
    filter:alpha(opacity=35);
    -moz-opacity:.35;
    opacity:.35;
}

.p-dashboard-portal-panel .x-column {
    position: relative; z-index:10
}
.p-dashboard-watermark, .p-dashboard-info {
    z-index:5
}
