.p-elementtype-tree .p-elementtypes-type-rootx {
    background-color: #EFDFB6;
}
.p-elementtype-tree .p-elementtypes-type-tabx {
    background-color: #F2E5C4;
}
.p-elementtype-tree .p-elementtypes-type-accordionx {
    background-color: #F7EDD2;
}
.p-elementtype-tree .p-elementtypes-type-groupx {
    background-color: #F9F2DE;
}
