.p-elementtype-tree .p-elementtypes-type-rootx {
    background-color: #C6C6C6;
}
.p-elementtype-tree .p-elementtypes-type-tabx {
    background-color: #D3D3D3;
}
.p-elementtype-tree .p-elementtypes-type-accordionx {
    background-color: #DDDDDD;
}
.p-elementtype-tree .p-elementtypes-type-groupx {
    background-color: #EDEDED;
}
