.x-form-password-strengthMeter {
	border: 1px solid #B5B8C8;
	margin: 3px 0 3px 0;
	background-image: url(/COMPONENTSPATH/phlexiblegui/images/ux/meter_background.gif);

}
.x-form-password-strengthMeter-focus {
	border: 1px solid #7EADD9/*#000*/;
}
.x-form-password-scoreBar {
	background-image: url(/COMPONENTSPATH/phlexiblegui/images/ux/meter.gif);
	height: 10px;
	width: 0;
	line-height: 1px;
	font-size: 1px;
}
